body {
    font-family: Arial;
    background-color: #0A0908;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #49111C;
    padding: 20px;
}

header h1 {
    color: #F2F4F3;
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #F2F4F3;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #A9927D;
}

h1 {
    color: #F2F4F3;
    margin-top: 30px;
}

form {
    width: 400px;
    margin: 20px auto;
    padding: 25px;
    background-color: #49111C;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

label {
    color: #F2F4F3;
    font-weight: bold;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
}

button {
    background-color: #ff0066;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #e6005c;
}

footer {
    background-color: #49111C;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    color: #F2F4F3;
    margin: 0;
}
